.new-entry-field {
    border: solid medium;
    max-width: 100%;
    margin: 3px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    border: solid thin;
    padding: 5px;
} 